<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:5000/StringSearcherService" binding="basicHttpBinding"
        bindingConfiguration="" contract="StringSearcherInterfaces.IStringSearcherService" name="StringSearcherServiceEndpoint"
        kind="" endpointConfiguration="">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>